<%block name='all_notifications_header'>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="/static/js/notification.js"></script>
    <link rel="stylesheet" href="/static/css/notification.css" type="text/css">
</%block>
<%block name='all_notifications'>
    <div class="notification">
        <img class src="/static/images/bell.svg" alt="bell-icon">
        <ul class="notification-menu">
          <li>
            <img class="avatar" src="/static/images/letter.png" alt="avatar2">
            <h3>Assignment 1 submitted by Student1</h3>
            <p><button class="btn-mark-as-read">mark as read</button></p>
          </li>
          <li>
            <img class="avatar" src="/static/images/letter.png" alt="avatar2">
            <h3>Assignment 1 submitted by Student2</h3>
            <p><button class="btn-mark-as-read">mark as read</button></p>
          </li>
        </ul>
      </div>
</%block>