<%block name='all_notifications'>
    <script src="../static/js/notification.js"></script>
    <div class="notification nav-item">
        <img class src="../static/images/bell.svg" alt="bell-icon">
        <span class="notification-badge"></span>
        <ul class="notification-menu" style="display: none;">
          ## <li>
          ##   <img class="avatar" src="../static/images/letter.png" alt="avatar2">
          ##   <h3>Assignment 1 submitted by Student1</h3>
          ##   <p><button class="btn-mark-as-read">mark as read</button></p>
          ## </li>
          ## <li>
          ##   <img class="avatar" src="../static/images/letter.png" alt="avatar2">
          ##   <h3>Assignment 1 submitted by Student2</h3>
          ##   <p><button class="btn-mark-as-read">mark as read</button></p>
          ## </li>
        </ul>
    </div>
</%block>